@media screen and (min-width: 576px) {
  :root {
    --length-unit: 10px;
  }
  .text-sm {
    font-size: 10px;
  }
  .text-md {
    font-size: 11px;
  }
  .text-lg {
    font-size: 20px;
  }
  .form__wrapper {
    width: calc(var(--length-unit) * 24);
  }
}
@media screen and (min-width: 768px) {
  :root {
    --length-unit: 17.5px;
  }
  .text-sm {
    font-size: 11px;
  }
  .text-md {
    font-size: 12px;
  }
  .text-lg {
    font-size: 24px;
  }
  .form__wrapper {
    width: calc(var(--length-unit) * 22);
  }
  .social__link {
    background-color: #666666;
    width: calc(var(--length-unit) * 2);
    height: calc(var(--length-unit) * 2);
  }
  .social__img {
    width: var(--length-unit);
    height: var(--length-unit);
  }
  .text__wrapper-sign {
    padding: calc(var(--length-unit) * 2) 0 var(--length-unit);
  }
}
@media screen and (min-width: 992px) {
  :root {
    --length-unit: 20px;
  }
  .text-sm {
    font-size: 12px;
  }
  .text-md {
    font-size: 14px;
  }
  .text-lg {
    font-size: 32px;
  }
  .form__wrapper {
    width: calc(var(--length-unit) * 20);
  }
}
@media screen and (min-width: 1200px) {
  .text-sm {
    font-size: 14px;
  }
  .text-md {
    font-size: 16px;
  }
  .text-lg {
    font-size: 40px;
  }
}
@media screen and (min-width: 1920px) {
  :root {
    --length-unit: 25px;
  }
  .form__wrapper {
    width: calc(var(--length-unit) * 19);
  }
}

@media (hover: hover) and (pointer: fine) {
  .form__forgot-link:hover,
  .form__sign-link:hover {
    color: #fc00ff;
    transition: 0.5s;
  }
  .link__facebook:hover {
    background-color: #425892;
    transition: 0.5s;
  }
  .link__twitter:hover {
    background-color: #49a1ee;
    transition: 0.5s;
  }
  .link__google:hover {
    background-color: #da4d3d;
    transition: 0.5s;
  }
  .form__login-button:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }
}
@media screen and (orientation: landscape) and (max-width: 812px) {
  :root {
    --length-unit: 10px;
  }
  .form {
    width: 90%;
  }
  .form__wrapper {
    width: calc(var(--length-unit) * 50);
  }
  .form__title,
  .form__forgot {
    padding: 0;
  }
  .input__block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
  .input__wrapper {
    flex-basis: 50%;
    margin: 10px;
  }
  .form__login-button {
    width: 50%;
  }
  .social__link {
    width: calc(var(--length-unit) * 4);
    height: calc(var(--length-unit) * 4);
  }
  .social__img {
    width: calc(var(--length-unit) * 2);
    height: calc(var(--length-unit) * 2);
  }
  .link__facebook {
    background-color: #425892;
  }
  .link__twitter {
    background-color: #49a1ee;
  }
  .link__google {
    background-color: #da4d3d;
  }
  .text__wrapper-social {
    padding-top: var(--length-unit);
  }
  .text__wrapper-sign {
    display: none;
  }
}
