.container {
  background-image: url(./img/background_image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: calc(var(--length-unit) * 25);
  border-radius: 10px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: var(--length-unit);
}
.form__title {
  display: block;
  padding-bottom: calc(var(--length-unit) * 2);
}
.input__block,
.input__wrapper {
  width: 100%;
}
.input__wrapper-password {
  margin-top: 10px;
}
.input__label {
  color: #333333;
  line-height: 1.5;
  padding-left: 10px;
}
.input {
  outline: none;
  border: none;
  color: #333333;
  line-height: 1.2;
  display: block;
  width: calc(100% - 40px);
  height: 50px;
  transition: 0.5s;
  border-bottom: 1px solid #d9d9d9;
  cursor: pointer;
}
.input:focus {
  border-bottom: 1px solid black;
  filter: none;
  transition: 0.5s;
}
.input:focus::-webkit-input-placeholder {
  color: transparent;
}
.input:focus::-moz-placeholder {
  color: transparent;
}
.input:focus:-moz-placeholder {
  color: transparent;
}
.input:focus:-ms-input-placeholder {
  color: transparent;
}
.user {
  background: url(./img/icon/user.svg) no-repeat center left 10px;
  background-size: 20px;
  padding-left: 40px;
  filter: brightness(0) invert(0.5);
}
.password {
  background: url(./img/icon/padlock.svg) no-repeat center left 10px;
  background-size: 20px;
  padding-left: 40px;
  filter: brightness(0) invert(0.5);
}
.form__forgot {
  width: 100%;
  text-align: right;
  padding: 10px 0 10px;
}
.form__forgot-link {
  line-height: 1.7;
  color: #666666;
  text-decoration: none;
  transition: 0.5s;
}
.form__login {
  width: 100%;
}
.form__login-button {
  outline: none;
  border: none;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0 auto;
  width: 100%;
  height: 50px;
  border: 1px solid white;
  border-radius: 25px;
  background: linear-gradient(to right, #00dbde, #fc00ff);
  box-shadow: 0 5px 30px 0px rgb(3 216 222 / 20%);
  transition: 0.3s;
}
.text__wrapper-social {
  padding: calc(var(--length-unit) * 2) 0 var(--length-unit);
}
.form__text-wrapper {
  text-align: center;
}
.form__text {
  line-height: 1.5;
  color: #666666;
}
.form__link {
  line-height: 1.5;
  color: #333333;
  text-transform: uppercase;
}
.form__social-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--length-unit) * 4);
  height: calc(var(--length-unit) * 4);
  border-radius: 50%;
  margin: 5px;
  background-color: #666666;
  transition: 0.5s;
}
.link__facebook {
  background-color: #425892;
}
.link__twitter {
  background-color: #49a1ee;
}
.link__google {
  background-color: #da4d3d;
}
.social__img {
  display: block;
  width: calc(var(--length-unit) * 2);
  height: calc(var(--length-unit) * 2);
  object-fit: cover;
  object-position: center;
  filter: invert(1);
}
.text__wrapper-sign {
  padding: calc(var(--length-unit) * 4) 0 var(--length-unit);
}
.form__sign-link {
  transition: 0.5s;
  text-transform: uppercase;
  color: #333333;
}
