:root {
  --length-unit: 5px;
}
.text-lg {
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
}
.text-sm {
  font-family: Poppins;
  font-weight: 400;
  font-size: 8px;
  text-decoration: none;
}
.text-md {
  font-family: Poppins;
  font-size: 10px;
  font-weight: 500;
  text-decoration: none;
}
